<mat-card color="primary">
  Angular Material Data Table Paginator With Multi Queries
</mat-card>
<!-- <div>
  <app-members></app-members>
</div> -->

<nav mat-tab-nav-bar>
  
	<a mat-tab-link routerLink="/home" routerLinkActive #homeTab="routerLinkActive" [active]="homeTab.isActive">
		Home
	</a>
  
	<a mat-tab-link routerLink="/members" routerLinkActive #membersTab="routerLinkActive" [active]="membersTab.isActive">Members</a>

  <a mat-tab-link routerLink="/employees" routerLinkActive #employeesTab="routerLinkActive" [active]="employeesTab.isActive">Employees</a>

	<!-- <a mat-tab-link routerLink="/others" routerLinkActive #otherTab="routerLinkActive" [active]="otherTab.isActive">Others</a>

  <a mat-tab-link routerLink="/address" routerLinkActive #addressTab="routerLinkActive" [active]="addressTab.isActive">Address</a> -->

</nav>

<router-outlet></router-outlet>


<!--
Copyright Google LLC All Rights Reserved.

Use of this source code is governed by an MIT-style license that can be
found in the LICENSE file at https://angular.io/license
-->